<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {{#if description}}
      <meta name="description" content="{{description}}">
    {{/if}}

    {{#block "meta"}}{{/block}}

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">

    {{#block "style"}}{{/block}}

    <link rel="icon" type="image/png" href="/images/favicon.png">

    {{#if title}}
      <title>{{title}} - FRC Team 2984</title>
    {{else}}
      <title>FRC Team 2984</title>
    {{/if}}
  </head>
  <body>
    <header>
      <h1><a href="/">Vikings
        <span class="internal-logo">
          <img src = "/images/favicon.png" alt="Viking Robotics" >
        </span>

        Robotics</a></h1>
      <!--<img src = "/images/favicon.png" class="internal-logo" alt="Viking Robotics" align: "middle">-->


      <nav>
        <ol>
          <li><a href="/">About</a></li>
          <li><a href="/">Donors</a></li>
          <li><a href="/">Calender</a></li>
          <li><a href="/">Members</a></li>
          <li><a href="/">The Team</a></li>
        </ol>
      </nav>
    </header>
    <main>
      {{#block "body"}}{{/block}}
    </main>
    <footer>
      <p class="copyright">&copy;2017 Vikings Robotics</p>
      <p class="contact us">ljhsvikingrobotics@gmail.com</p>
      <p class ="school address">750 Nautilus St, La Jolla, CA 92037</p>

    </footer>
    {{#block "end-scripts"}}{{/block}}
    {{>analytics}}
  </body>
</html>
