{{#extend "main"}}
  {{#content "style"}}
    <link rel="stylesheet" href="/css/index.css">
  {{/content}}
  {{#content "body"}}
    <article>
      <header>
          {{#if hide-title}}

          {{else}}
            <h1>{{title}}</h1>
          {{/if}}
      </header>
      <div class="main">
        {{{contents}}}
      </div>
    <!-- recently added as of friday night in an attempt to make a footer -->
        <style>
          .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: blue;
            text-align: center;
            min-width: 320px;
          }
        </style>

        <div class="footer">
          <p>Site Map</p>
        </div>
    </article>
  {{/content}}
{{/extend}}
