.sub-teams {
  background-color: grey;
  height: 200px;
  margin-bottom: 2em;
}


.meetings {
  background-color: red;
  height: 200px;
  margin-bottom: 2em;

}
.goals {
  background-color: grey;
  height: 200px;
  margin-bottom: 2em;

}
.forms {
  background-color: red;
  height: 200px;
  margin-bottom: 2em;
}
